// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

.pl-6 {
  padding-left: 3.5rem !important;
}

.pl-7 {
  padding-left: 4rem !important;
}

.pl-8 {
  padding-left: 4.5rem !important;
}

.pl-9 {
  padding-left: 5rem !important;
}

.pl-10 {
  padding-left: 5.5rem !important;
}

.dot {
  text-emphasis: dot;
  -webkit-text-emphasis: dot;
}

.xx-large {
  font-size: xx-large;
}

.x-large {
  font-size: x-large;
}

.large {
  font-size: large;
}


.small {
  font-size: small;
}

.x-small {
  font-size: x-small;
}

.xx-small {
  font-size: xx-small;
}
