<template>
  <b-container>
    <component :is="layout" />
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  computed: {
    layout(): string {
      return (this.$route.meta.layout || 'default') + '-layout'
    }
  }
})

</script>
