<template>
  <div>
    <b-row>
      <b-col md="12" lg="4" xl="3">
        <b-link class="p-2" @click.prevent="onClick('あ')">
          あ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('い')">
          い
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('う')">
          う
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('え')">
          え
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('お')">
          お
        </b-link>

        <br>

        <b-link class="p-2" @click.prevent="onClick('か')">
          か
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('き')">
          き
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('く')">
          く
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('け')">
          け
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('こ')">
          こ
        </b-link>

        <br>

        <b-link class="p-2" @click.prevent="onClick('さ')">
          さ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('し')">
          し
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('す')">
          す
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('せ')">
          せ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('そ')">
          そ
        </b-link>

        <br>
        <b-link class="p-2" @click.prevent="onClick('た')">
          た
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('ち')">
          ち
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('つ')">
          つ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('て')">
          て
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('と')">
          と
        </b-link>

        <br>

        <b-link class="p-2" @click.prevent="onClick('な')">
          な
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('に')">
          に
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('ぬ')">
          ぬ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('ね')">
          ね
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('の')">
          の
        </b-link>

        <br>
      </b-col>
      <b-col>
        <b-link class="p-2" @click.prevent="onClick('は')">
          は
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('ひ')">
          ひ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('ふ')">
          ふ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('へ')">
          へ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('ほ')">
          ほ
        </b-link>

        <br>

        <b-link class="p-2" @click.prevent="onClick('ま')">
          ま
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('み')">
          み
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('む')">
          む
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('め')">
          め
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('も')">
          も
        </b-link>

        <br>

        <b-link class="p-2" @click.prevent="onClick('や')">
          や
        </b-link>
        <span class="p-2">&emsp;</span>
        <b-link class="p-2" @click.prevent="onClick('ゆ')">
          ゆ
        </b-link>
        <span class="p-2">&emsp;</span>
        <b-link class="p-2" @click.prevent="onClick('よ')">
          よ
        </b-link>

        <br>

        <b-link class="p-2" @click.prevent="onClick('ら')">
          ら
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('り')">
          り
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('る')">
          る
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('れ')">
          れ
        </b-link>
        <b-link class="p-2" @click.prevent="onClick('ろ')">
          ろ
        </b-link>

        <br>

        <b-link class="p-2" @click.prevent="onClick('わ')">
          わ
        </b-link>

        <br>
      </b-col>
    </b-row>

    <b-pagination
      v-if="showPaginate"
      v-model="page"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="authors"
      align="center"
      @change="onChange" />

    <br v-else>

    <div>
      <Author v-for=" author in authors" id="authors" :key="author.id" :author="author" />
    </div>

    <b-pagination
      v-if="showPaginate"
      v-model="page"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="authors"
      align="center"
      @change="onChange" />

    <br v-else>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import Author from '../components/Author.vue'

export default Vue.extend({
  components: {
    'Author': Author
  },

  data() {
    return {
      q: '',
      authors: [],
      page: '1',
      rows: 0,
      perPage: 0
    }
  },

  computed: {
    showPaginate: function(): boolean {
      return this.rows > 20
    }
  },

  created() {
    this.q = String(this.$route.query.q)
    this.page = String(this.$route.query.page)
    this.getAuthors()
  },

  methods: {
    onClick(q: string): void {
      this.q = q
      this.page = '1'
      this.$router.push({ path: 'author', query: { q: this.q, page: this.page } }, () => {}, () => {})
      this.getAuthors()
    },

    onChange(page: string): void {
      this.page = page
      this.$router.push({ path: 'author', query: { q: this.q, page: this.page } }, () => {}, () => {})
      this.getAuthors()
    },

    async getAuthors(): Promise<void> {
      await axios.get(`/api/people?q=${this.q}&page=${this.page}`)
        .then(res => {
          this.authors = res.data.data
          this.page = res.data.meta.current_page
          this.rows = res.data.meta.total
          this.perPage = res.data.meta.per_page
        }).catch(error => {
          console.log(error)
        })
    }
  }
})
</script>
