<template>
  <div>
    <h1>{{ book.title }} {{ book.sub_title }}</h1>
    <div>{{ book.person }}</div>
    <br>
    <div v-html="book.body" />
    <div class="border-bottom border-dark" />
    <div v-html="book.tail" />
    <div class="border-bottom border-dark" />
    <br>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import { setTitle } from '../utils'

export default Vue.extend({
  data(): { book: Book } {
    return {
      book: {}
    }
  },

  async created() {
    await axios
      .get(`/api/books/${this.$route.params.id}`)
      .then(res => {
        this.book = res.data.data
        setTitle(this.book.title + '')
      })
  }
})
</script>
