<template>
  <div>
    <b-row>
      <b-link class="p-2" @click.prevent="onClick('0')">
        総記
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('1')">
        哲学
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('2')">
        地理歴史
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('3')">
        社会
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('4')">
        自然
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('5')">
        工業
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('6')">
        産業
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('7')">
        芸術運動
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('8')">
        言葉
      </b-link>
      <b-link class="p-2" @click.prevent="onClick('9')">
        文学
      </b-link>
    </b-row>

    <b-pagination
      v-if="showPaginate"
      v-model="page"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="books"
      align="center"
      @change="onChange" />

    <br v-else>

    <div>
      <Book v-for="book in books" id="books" :key="book.id" :book="book" />
    </div>

    <b-pagination
      v-if="showPaginate"
      v-model="page"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="books"
      align="center"
      @change="onChange" />

    <br v-else>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import Book from '../components/Book.vue'

export default Vue.extend({
  components: {
    'Book': Book
  },

  data() {
    return {
      c: '',
      books: [],
      page: '1',
      rows: 0,
      perPage: 0
    }
  },

  computed: {
    showPaginate: function(): boolean {
      return this.rows > 10
    }
  },

  created() {
    this.c = String(this.$route.query.c)
    this.page = String(this.$route.query.page)
    this.getBooks()
  },

  methods: {
    onClick(c: string): void {
      this.c = c
      this.page = '1'
      this.$router.push({ path: 'category', query: { c: this.c, page: this.page } }, () => {}, () => {})
      this.getBooks()
    },

    onChange(page: string): void {
      this.page = page
      this.$router.push({ path: 'category', query: { c: this.c, page: this.page } }, () => {}, () => {})
      this.getBooks()
    },

    async getBooks(): Promise<void> {
      await axios.get(`/api/books?c=${this.c}&page=${this.page}`)
        .then(res => {
          this.books = res.data.data
          this.page = res.data.meta.current_page
          this.rows = res.data.meta.total
          this.perPage = res.data.meta.per_page
        }).catch(error => {
          console.log(error)
        })
    }
  }
})
</script>
