<template>
  <b-row class="d-flex align-items-center vh-100 w-100">
    <b-col md="8" offset-md="2" lg="6" offset-lg="3">
      <h1 class="text-center">
        Aozora Bunko
      </h1>
      <b-form @submit.prevent="onSubmit">
        <b-input-group size="lg">
          <b-form-input key="index-q" v-model="q" type="text" required placeholder="作品名や著者名を入力" />
          <b-input-group-append>
            <b-button type="submit" variant="primary">
              検索
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { setTitle } from '../utils'

export default Vue.extend({
  data() {
    return {
      q: '',
      app: this
    }
  },

  created() {
    setTitle('')
  },

  methods: {
    onSubmit(): void {
      this.$router.push({ path: 'search', query: { q: this.q, page: '1' } })
    }
  }
})
</script>
