<template>
  <div>
    <b-row>
      <b-col lg="10">
        <b-pagination
          v-if="showPaginate"
          v-model="page"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="books"
          class="mt-3"
          align="center"
          @change="onChange" />

        <br v-else>

        <div>
          <Book v-for="book in books" id="books" :key="book.id" :book="book" />
        </div>

        <b-pagination
          v-if="showPaginate"
          v-model="page"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="books"
          align="center"
          @change="onChange" />

        <br v-else>
      </b-col>
      <b-col />
    </b-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import Book from '../components/Book.vue'
import { setTitle } from '../utils'

export default Vue.extend({
  components: {
    'Book': Book
  },

  data() {
    return {
      books: [],
      page: '1',
      rows: 0,
      perPage: 0
    }
  },

  computed: {
    showPaginate: function(): boolean {
      return this.rows > 10
    }
  },

  created() {
    setTitle('BookList')
    this.page = String(this.$route.query.page)
    this.getBook()
  },

  methods: {
    async getBook(): Promise<void> {
      await axios
        .get(`/api/users/books?page=${this.page}`)
        .then(response => {
          this.books = response.data.data
          this.page = response.data.meta.current_page
          this.rows = response.data.meta.total
          this.perPage = response.data.meta.per_page
        })
    },

    onChange(page: string): void {
      this.page = page
      this.$router.push({ path: 'search', query: { page: this.page } }, () => {}, () => {})
      this.getBook()
    }
  }
})
</script>
