<template>
  <b-row class="vh-100">
    <b-col md="8" offset-md="2" lg="6" offset-lg="3">
      <h3 class="m-3 text-center text-success">
        ログイン
      </h3>
      <b-form @submit.prevent="onSubmit">
        <div v-for="error in errors" :key="error.index">
          <div v-for="val in error" :key="val.index" class="text-danger small">
            {{ val }}
          </div>
        </div>

        <b-form-group label="メールアドレス" label-for="email">
          <b-form-input id="email" key="login-email" v-model="form.email" type="email" required />
        </b-form-group>

        <b-form-group label="パスワード" label-for="password">
          <b-form-input id="password" key="login-password" v-model="form.password" type="password" required />
        </b-form-group>

        <b-button type="submit" variant="primary">
          ログイン
        </b-button>
      </b-form>
      <div class="mt-2">
        <b-link to="signup" class="btn btn-success">
          新規登録
        </b-link>
      </div>
      <div>
        テスト用アカウント<br>
        test1@test.test：password<br>
        test2@test.test：password<br>
        test3@test.test：password<br>
      </div>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import { setTitle } from '../utils'

export default Vue.extend({
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      errors: {}
    }
  },

  created() {
    setTitle('Login')
  },

  methods: {
    onSubmit(): void {
      axios.post('/api/login', {
        email: this.form.email,
        password: this.form.password,
      }).then(res => {
        this.$store.dispatch('setName', res.data.name)
        const url = this.$store.state.redirect || '/'
        this.$store.dispatch('setRedirect', '')
        this.$router.push({path: url}, () => {}, () => {})
      }).catch(err => {
        console.log(err)
      })
    }
  }
})
</script>
