<template>
  <div>
    <b-row>
      <b-col lg="10">
        <b-form @submit.prevent="onSubmit">
          <b-input-group>
            <b-form-input key="search-q" v-model="q" type="text" required placeholder="作品名や著者名を入力" />
            <b-input-group-append>
              <b-button type="submit" variant="primary">
                検索
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="10">
        <b-pagination
          v-if="showPaginate"
          v-model="page"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="books"
          class="mt-3"
          align="center"
          @change="onChange" />
        <br v-else>

        <div>
          <Book v-for="book in books" id="books" :key="book.id" :book="book" />
        </div>

        <b-pagination
          v-if="showPaginate"
          v-model="page"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="books"
          align="center"
          @change="onChange" />

        <br v-else>
      </b-col>
      <b-col />
    </b-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import Book from '../components/Book.vue'
import { setTitle } from '../utils'

export default Vue.extend({
  components: {
    'Book': Book
  },

  data() {
    return {
      q: '',
      r: '',
      books: [],
      page: '1',
      rows: 0,
      perPage: 0
    }
  },

  computed: {
    showPaginate: function(): boolean {
      return this.rows > 10
    }
  },

  created() {
    this.q = this.r = String(this.$route.query.q)
    this.page = String(this.$route.query.page)
    this.searchBook()
  },

  methods: {
    async searchBook(): Promise<void> {
      await axios
        .get(`/api/books?q=${this.r}&page=${this.page}`)
        .then(response => {
          this.books = response.data.data
          this.page = response.data.meta.current_page
          this.rows = response.data.meta.total
          this.perPage = response.data.meta.per_page
          setTitle(`Search ${this.r}`)
        })
    },

    onSubmit(): void {
      this.r = this.q
      this.page = '1'
      this.$router.push({ path: 'search', query: { q: this.r, page: '1' } }, () => {}, () => {})
      this.searchBook()
    },

    onChange(page: string): void {
      this.q = this.r
      this.page = page
      this.$router.push({ path: 'search', query: { q: this.r, page: this.page } }, () => {}, () => {})
      this.searchBook()
    }
  }
})
</script>
