<template>
  <b-row class="vh-100">
    <b-col md="8" offset-md="2" lg="6" offset-lg="3">
      <h3 class="m-3 text-center">
        Signup
      </h3>
      <b-form @submit.prevent="onSubmit">
        <div v-for="error in errors" :key="error.index">
          <div v-for="val in error" :key="val.index" class="text-danger small">
            {{ val }}
          </div>
        </div>

        <b-form-group label="名前 (最大50文字)" label-for="name">
          <b-form-input id="name" key="signup-name" v-model="form.name" type="text" required />
        </b-form-group>

        <b-form-group label="メールアドレス (最大255文字)" label-for="email">
          <b-form-input id="email" key="signup-email" v-model="form.email" type="email" required />
        </b-form-group>

        <b-form-group label="パスワード (6-128文字の半角英数字)" label-for="password">
          <b-form-input id="password" key="signup-password" v-model="form.password" type="password" required />
        </b-form-group>

        <b-form-group label="確認用パスワード" label-for="passwordConfirmation">
          <b-form-input id="passwordConfirmation" key="signup-password-conf" v-model="form.passwordConfirmation" type="password" required />
        </b-form-group>

        <div class="text-center">
          <b-button type="submit" variant="primary" class="mx-auto">
            Signup
          </b-button>
        </div>
      </b-form>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import { setTitle } from '../utils'

export default Vue.extend({
  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        passwordConfirmation: '',
      },
      errors: {}
    }
  },

  created() {
    setTitle('Signup')
  },

  methods: {
    onSubmit(): void {
      axios.post('/api/users', {
        name: this.form.name,
        email: this.form.email,
        password: this.form.password,
        passwordConfirmation: this.form.passwordConfirmation,
      }).then(res => {
        this.$store.dispatch('setName', res.data.name)
        this.$router.push({path: '/'}, () => {}, () => {})
      })
    }
  }
})
</script>
