<template>
  <div>
    <header>
      <b-navbar fixed="top" toggleable="md" class="container">
        <b-navbar-toggle target="nav-collapse" />

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/author">
              Author List
            </b-nav-item>
            <b-nav-item to="/category">
              Category List
            </b-nav-item>
          </b-navbar-nav>

          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown v-if="userName" right>
              <template v-slot:button-content>
                {{ userName }}
              </template>
              <b-dropdown-item @click="onClick">
                logout
              </b-dropdown-item>
              <b-dropdown-item to="/list?page=1">
                Booklist
              </b-dropdown-item>
              <b-dropdown-item to="/setting">
                setting
              </b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item v-else to="/login">
              login
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </header>
    <main>
      <router-view />
    </main>
    <footer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
  computed: {
    userName(): string {
      return this.$store.state.name
    }
  },

  methods: {
    async onClick(): Promise<void> {
      await axios.post('/api/logout')
        .then((res) => {
          console.log(res)
          this.$store.dispatch('setName', '')
        })
    }
  }
})
</script>
