<template>
  <b-media tag="li" class="p-2 m-2 bg-white rounded">
    <b-link :to="url">
      <h6 class="mt-0 mb-1">
        <u>{{ author.fullName }} ({{ author.kanaName }})</u>
      </h6>
    </b-link>
    <div>{{ author.birth }}-{{ author.death }}</div>
  </b-media>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
  props: {
    author: {
      type: Object as PropType<Author>,
      default: {}
    }
  },

  computed: {
    url(): string {
      return `/search?q=${this.author.fullName}`
    }
  }
})
</script>
