<template>
  <b-media tag="li" class="p-2 m-2 bg-white rounded">
    <template v-slot:aside>
      <b-img :src="ndc" width="64" />
    </template>
    <b-link :to="url">
      <h6 class="mt-0 mb-1">
        <u>{{ book.title }} {{ book.subTitle }} ({{ book.wordCount }}文字)</u>
      </h6>
    </b-link>
    <div><span class="text-success">{{ book.person }}</span> - <span class="text-black-50">{{ book.publicated }}</span></div>
    <div>{{ book.sentence }}</div>
    <div>
      <b-icon v-if="book.favorite" icon="star-fill" class="mr-1" animation="fade" style="color: #FFF100" font-scale="1.5" @click.prevent="updateBooks('detach')" />
      <b-icon v-else icon="star" font-scale="1.5" class="mr-1" animation="fade" @click.prevent="updateBooks('attach')" />
      <b-button size="sm" @click.prevent="openModal">
        コメントを追加
      </b-button>
    </div>
    <div v-for="comment in book.comments" :key="comment.id">
      {{ comment.body }}
    </div>
    <b-modal :id="'modal-' + book.id" ok-title="送信" cancel-title="閉じる" title="コメントを追加" @ok="sendComment">
      <b-form-input key="book-comment" v-model="comment" placeholder="コメントを入力" />
    </b-modal>
  </b-media>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import axios from 'axios'

export default Vue.extend({
  props: {
    book: {
      type: Object as PropType<Book>,
      default: {}
    }
  },

  data() {
    return {
      comment: ''
    }
  },

  computed: {
    ndc(): string {
      let majorClass = ''
      if (this.book.classification) {
        majorClass = this.book.classification.substr(4, 1) !== 'K' ? this.book.classification.substr(4, 1) : this.book.classification.substr(5, 1)
      }
      return `/img/${majorClass}.png`
    },

    url(): string {
      return `/book/${this.book.id}`
    }
  },

  methods: {
    async updateBooks(type: string): Promise<void> {
      if (this.$store.state.name == '') {
        this.$store.dispatch('setRedirect', this.$route.fullPath)
        this.$bvToast.toast('お気に入り機能を使用するにはログインする必要があります。', {
          to: 'login',
          toaster: 'b-toaster-top-center',
          autoHideDelay: 5000
        })
        return
      }

      await axios.patch('/api/users/books', {
        type: type,
        book: this.book.id
      }).then(res => {
        console.log(res)
        if (type === 'attach') {
          this.book.favorite = true
        } else {
          this.book.favorite = false
        }
      }).catch(err => {
        console.log(err)
      })
    },

    async sendComment(): Promise<void> {
      await axios.post('/api/comments', {
        body: this.comment,
        evaluation: 0,
        book: this.book.id
      }).then(res => {
        console.log(res)
      }).catch(err => {
        console.log(err)
      })
    },

    openModal(): void {
      if (this.$store.state.name == '') {
        this.$store.dispatch('setRedirect', this.$route.fullPath)
        this.$bvToast.toast('コメントを追加するにはログインする必要があります。', {
          to: 'login',
          toaster: 'b-toaster-top-center',
          autoHideDelay: 5000,
        })
        return
      }

      this.comment = ''
      this.$bvModal.show('modal-' + this.book.id)
    }
  }
})
</script>
